In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import seaborn as sns
df = sns.load_dataset('mpg')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [4]:
df.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

In [5]:
df.origin.value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

In [6]:
X = df[['origin']]
X[111:115]

     origin
111   japan
112     usa
113     usa
114  europe

In [7]:
from sklearn.preprocessing import LabelEncoder      # label encoder

encoder1 = LabelEncoder()
LE = encoder1.fit_transform(X)

In [8]:
LE[111:115]

array([1, 2, 2, 0])

In [9]:
from sklearn.preprocessing import OneHotEncoder     # onehot encoder

encoder2 = OneHotEncoder()
OHE = encoder2.fit_transform(X)
print(OHE[111:115])

  (0, 1)	1.0
  (1, 2)	1.0
  (2, 2)	1.0
  (3, 0)	1.0

In [10]:
OHE.toarray()[111:115]

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.]])